.review {
}
.reviewContainer {
  .container();
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: @white;

  & > h2 {
    text-align: center;
  }

  @media (max-width: 720px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.reviewBody {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  flex-wrap: wrap;

  @media (max-width: 960px) {
    width: 100%;
  }
}
.reviewBlock {
  margin-bottom: 40px;
  width: 100%;

  @media (max-width: 960px) {
    margin-bottom: 30px;
  }
}
.reviewBtn {
  display: flex;
  margin-top: 40px;
  justify-content: center;

  @media (max-width: 540px) {
    margin-top: 20px;
  }
}
