.coversContent {
  .container();
  padding-top: 30px;
  padding-bottom: 40px;
}
.coversHeader {
  padding: 60px 40px;
  border-radius: @borderRadius;
  box-shadow: @shadowBlock;
  background: url('../../../assets/img/357663-popular-pink-.jpg') no-repeat top center;
  background-size: cover;
}
.coversCaption {
  font-size: 1.32rem;
  line-height: 1.2em;
  font-weight: 700;
  text-shadow: @shadowText;
}

.coversBlocks {
  display: flex;
  padding-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  flex-wrap: wrap;
}
.block {
  margin: 15px 15px;
  border: 1px solid @grey;
  border-radius: 20px;
  width: calc(33.33% - 30px);
  box-shadow: @shadowSmall;
  & > div {
    display: flex;
    align-items: stretch;
    overflow: hidden;
  }
}
.blockImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 180px;
  min-width: 100px;
  & img {
    width: 100%;
    max-width: 80px;
  }
}
.blockText {
  display: flex;
  padding-left: 12px;
  padding: 14px 14px 14px 10px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.blockName {
  padding-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.2em;
  font-weight: 600;
}
.footer {
  
}
.price {
  font-size: 1.12rem;
  line-height: 1.2em;
  font-weight: 300;
  color: @greyDark;
}
.footerBtn {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.cart {
  display: flex;
  padding-right: 20px;
  align-items: stretch;
}
.cartImg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 150px;
  min-width: 150px;
  & img {
    width: 100%;
    max-width: 200px;
  }
}
.cartDescription {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  flex-grow: 1;
}
.cartName {
  padding-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.2em;
  font-weight: 600;
}
.cartPrice {
  font-size: 1.1rem;
  line-height: 1.2em;
  font-weight: 300;
  color: @greyDark;
}
.cartSelects {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.cartBtns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  & button {
    margin-bottom: 7px;
    width: 140px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.select {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
}
.selectLabel {
  margin-right: 10px;
  width: 100px;
  min-width: 100px;
}



