.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
  background-color: @black;
}
.footerContainer {
  .container();
}
.footerText {
  font-size: .7rem;
  line-height: 1.2em;
  text-align: center;
}


