.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

@white: #ffffff;
@red: #24a319;
@redLight: #e7ffde;
@redHover: #247719;
@black: #1c1c1c;
// @grey: #f6f6f6;
@grey: #f3f3f3;
@greyDark: #999999;
@redOpacity: rgba(255, 0, 102, 0.4);
@whiteOpacity: rgba(255, 255, 255, 0.7);
@borderRadius: 24px;

// @shadowSmall: 6px 6px 14px 1px rgba(28,28,28,.3);
@shadowSmall: 6px 6px 14px 1px rgba(28, 28, 28, 0.04);
@shadowBlock: 10px 10px 20px 1px rgba(28, 28, 28, 0.12);
@shadowText: 10px 10px 10px rgba(28, 28, 28, 0.5);
