body {
	margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: @black;
  background: white;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}
.grow-block {
  flex-grow: 1;
}

p, h1, h2,h3, ul {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: @black;
}
img {
  display: block;
  width: 100%;
}


// .btn-1 {
//   position: relative;
//   padding: 0 0px;
//   border: 3px solid #888888;
//   outline: none;
//   background-color: #f4f5f6;
//   border-radius: 22px;
//   box-shadow: -6px -20px 35px #ffffff, -6px -10px 15px #ffffff, -20px 0px 30px #ffffff, 6px 20px 25px rgba(0, 0, 0, 0.2);
//   transition: 0.13s ease-in-out;
//   cursor: pointer;
//   &:active{
//     box-shadow: none;
//     .btn-1__content {
//       box-shadow: none;
//     }
//     .btn-1__text {
//       transform:translate3d(0px, 0px, 0px);
//     }
//   }
// }
// .btn-1__content {
//   position: relative;
//   padding: 20px;
//   border-radius: 20px;
//   box-shadow: inset 0px -8px 0px #dddddd, 0px -8px 0px #f4f5f6;
//   transition: .13s ease-in-out; 
//   z-index: 1;
// }
// .btn-1__text {
//   position: relative;
//   margin: 0;
//   font-size: 16px;
//   line-height: 1.3em;
//   font-family: "Montserrat", sans-serif;
//   font-weight: 400;
//   text-align: center;
//   color: transparent;
//   text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
//   background-color: #888888;
//   background-clip: text;
//   transform: translate3d(0px, -4px, 0px);
//   transition: .13s ease-in-out; 
// }

.btn-1 {
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 22px;
  border: 2px solid #888888;
  outline: none;
  background: linear-gradient(90deg,#ff8ebc 4px, #95003c 25px, #95003c 50%, #95003c calc(100% - 50px), #420021 calc(100% - 10px), #420021 100%);
  box-shadow: -6px -20px 35px rgba(255,153,204,.2),
    -6px -10px 15px rgba(255,153,204,.2),
    -20px 0px 30px rgba(255,153,204,.2),
    6px 20px 25px rgba(28, 28, 28, 0.2);
  &:hover {
    & .btn-1__content {
      transform: translateY(-3px);
    }
  }
  &:active {
    box-shadow: none;
    & .btn-1__content {
      transform: translateY(0);
    }
  }
}
.btn-1__content {
  position: relative;
  padding: 18px 30px;
  border: 1px solid rgba(204,0,102, .5);
  border-radius: 20px;
  background-color: @red;
  transform: translateY(-5px);
  transition: .13s ease-in-out; 
  z-index: 1;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.btn-1__text {
  position: relative;
  margin-top: 2px;
  font-size: 1.2rem;
  line-height: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
  background-color: rgba(153,51,102,0.5);
  background-clip: text;
  transform: translate3d(0px, -4px, 0px);
  transition: .13s ease-in-out;
}

.btn-2 {
  padding: 14px 38px;
  font-size: 1rem;
  line-height: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 24px;
  border: none;
  background-color: @red;
  box-shadow: 0 5px 20px 0 rgba(255, 0, 102, 0.62);
  outline: none;
  transition: all .3s ease;
  cursor: pointer;
  &:hover {
    background-color: @redHover;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 0 rgba(255,0,102,.4);
  }
}

.btn-3 {
  padding: 7px 18px;
  font-size: .92rem;
  line-height: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 24px;
  background-color: @red;
  outline: none;
  transition: all .3s ease;
  cursor: pointer;
  &:hover {
    background-color: @redHover;
  }
}
.btn-3_border {
  padding: 7px 18px;
  color: @red;
  border: 1px solid @red;
  background-color: transparent;
  &:hover {
    color: @redHover;
    background-color: transparent;
    border-color: @redHover;
  }
}

// ant
.modal {
  & .ant-modal-content {
    border-radius: 20px;
    box-shadow: @shadowBlock;
  }
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: @red;
  box-shadow: 0 0 0 2px @redOpacity;
}
.ant-select-selection:hover {
  border-color: @red;
}
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: @redLight;
}

.ant-breadcrumb {
  & a:hover {
    color: @red;
  }
}
.ant-breadcrumb-separator {
  color: @red;
}

.ant-select {
  width: 100%;
}


.ant-select-auto-complete.ant-select .ant-input:focus,
.ant-select-auto-complete.ant-select .ant-input:hover {
  border-color: @red;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: @red;
}
.ant-input:focus {
  box-shadow: 0 0 0 2px @redOpacity;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: @redLight;
}


// .ant-dropdown-menu {
//   box-shadow: @shadowBlock;
// }
// .ant-dropdown-menu-item-active {
//   &:hover {
//     background-color: @redLight;
//   }
// }
// .cart-icon_white.ant-dropdown-open {
//   & svg {
//     fill: @red;
//   }
// }

.cart-icon {
  width: 100%;
}
.cart-icon__link {
  & svg {
    width: 100%;
    height: 100%;
  }
}


.nav-search {
  width: 44px;
  transition: width .3s ease;
  .ant-input {
    border-color: transparent;
  }
  & .ant-select-selection {
    background-color: transparent;
    border-color: transparent;
  }
  & svg {
    fill: white;
    transform: scale(1.3);
    transition: all .3s ease;
  }
  &.active {
    width: 100%;
    & .ant-select-selection {
      background-color: white;
      border-color: @red;
    }
    .ant-input-affix-wrapper .ant-input:not(:last-child) {
      padding-right: 30px;
    }
    & svg {
      fill: @black;
      transform: scale(1);
    }
  }
}
.ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 10px;
}


// Card-tooltip
.tooltip {
  & .ant-tooltip-inner {
    padding: 10px;
    color: @black;
    background-color: white;
    width: 320px;
    border-radius: 10px;
    transform: translateX(-70px);
    box-shadow: @shadowBlock;
  }
}
.cart-icon {
  & .ant-tooltip-open {
    fill: @red;
  }
}

