.maps {
}
.mapsContainer {
  padding-top: 60px;
  padding-bottom: 60px;
  .container();

  background-color: @white;
}
.mapsBlock {
  position: relative;
  height: 420px;
  border-radius: 20px;
  background-color: @greyDark;
  overflow: hidden;
}
.mapsAddress {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, 0.7);
  box-shadow: 0 0 18px 3px rgba(28, 28, 28, 0.14);
  z-index: 5;

  & p {
    color: @white;
  }

  @media (max-width: 540px) {
    top: 10px;
    left: 10px;
    right: 10px;
  }
}
